Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-yasg
gunicorn
psycopg2-binary
pymongo
dnspython>=2.4
djongo
elasticsearch>=8.11.1
django-elasticsearch-dsl>=7.3
celery
redis
kombu
amqp
minio
django-storages[boto3]
boto3
ruff
ruff[format]
pytest
pytest-django
pytest-asyncio
coverage
pytest-cov
python-decouple
sentry-sdk[django]
drf-spectacular
whitenoise
ipython
django-extensions
black
django-redis
django-celery-beat
fastapi>=0.110
uvicorn[standard]>=0.29
aiogram>=3.3
requests
beautifulsoup4
lxml
