Django>=4.2
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
psycopg2-binary
pymongo
djongo
django-elasticsearch-dsl
celery
redis
kombu
amqp
minio
django-storages[boto3]
boto3
ruff
ruff[format]
pytest
pytest-django
coverage
pytest-cov
python-decouple
sentry-sdk[django]
drf-spectacular
whitenoise
ipython
django-extensions
django-redis
django-celery-beat
